body {
  background-color: #ffffff;
  color: #000000;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

div {
  box-sizing: border-box;
}

#topNav {
  position: sticky;
  top: 0px;
  background-color: #ffffff;
  height: 45px;
  padding: 0px 20px 50px 10px;
  z-index: 100;
  border-bottom: 1.5px solid grey;
}

#topNav div {
  height: 45px;
  line-height: 45px;
  color: black;
}

#topNav .left {
  float: left;
  font-size: 31.5px;
}

#topNav .right {
  font-size: 14.4px;
  float: right;
}

#topNav #header {
  text-transform: uppercase;
  font-weight: 900;
}

#logo {
  background-image: url("assets/logo.png");
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-size: 45px 45px;
  margin-right: 20px;
  overflow: hidden;
}

#body {
  padding: 20px 10px 20px 10px;
}

body {
  overflow: hidden;
}

.actions {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 20;
}

.actions .action {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-top: 10px;
  background-size: 45px 45px;
  overflow: hidden;
  transition: all 0.34s;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7254901961);
}
.actions .action:hover {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5098039216);
}
.actions .action:active {
  box-shadow: 2px 2px 4px rgba(67, 67, 67, 0.6470588235);
}

#start {
  background-image: url("assets/img_record.png");
  background-color: #148d14;
}
#start:hover {
  background-color: #33af33;
}
#start:active {
  background-color: #117411;
}

#pause {
  background-image: url("assets/img_pause.png");
  background-color: #dbc900;
}
#pause:hover {
  background-color: #f1e23a;
}
#pause:active {
  background-color: #dbb700;
}

#end {
  background-image: url("assets/img_stop.png");
  background-color: #ec6161;
}
#end:hover {
  background-color: #f37d7d;
}
#end:active {
  background-color: #d65252;
}

#down {
  background-image: url("assets/img_download.png");
  background-color: #434343;
}
#down:hover {
  background-color: #7a7a7a;
}
#down:active {
  background-color: #2f2f2f;
}

.text-button {
  border: 0px;
  color: inherit;
  background-color: white;
  padding-top: 5px;
}
.text-button:hover {
  background-color: #EDEDED;
}
.text-button:active {
  background-color: rgb(255, 182, 46);
}

#content {
  display: flex; /* establish flex container */
  flex-direction: row; /* default value; can be omitted */
  flex-wrap: wrap; /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
}

#content .cont {
  width: 100vw;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
  padding: 15px 15px 0px 15px;
  margin-left: 125px;
  margin-right: 125px;
  border: 2px #EEEEEE solid;
}

.scroll {
  height: calc(100vh - 180px);
  overflow-y: scroll;
  width: 100% !important;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
}

.editorScroll {
  height: 50px;
  overflow-y: scroll;
  width: 100% !important;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
}

.editor {
  background-color: #726b5e;
  border: solid 1px black;
}

#delete {
  background-color: #ec6161;
  height: 20px;
  width: 20px;
  position: relative;
  float: right;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  background-image: url("assets/img_delete.png");
  background-size: 20px 20px;
  overflow: hidden;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7254901961);
  transition: all 0.34s;
}
#delete:hover {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5098039216);
  background-color: #f37d7d;
  background-image: url("assets/img_delete_hover.png");
}
#delete:active {
  box-shadow: 2px 2px 4px rgba(67, 67, 67, 0.6470588235);
  background-color: #d65252;
}

#footer {
  background-color: #a17fa1;
}

/*# sourceMappingURL=App.css.map */
